body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #F2F2F2 url("../../imagens/pattern12.jpg");
}
#corpo
{
    width:	970px;
    height:	600px;
    margin: 10px auto;
    text-align:center;
}
#corpo div.logo
{
    margin: 10px auto;
}
#container
{
    margin: 0px auto;
    height: 650px;
    padding: 0px;
}
#container canvas#campoDeJogo
{
    float: left;
    border:1px solid #ccc;
    border-bottom:2px solid #bbb;
    border-top:1px solid #ddd;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}
#container div.console
{
    float: left;
    background: #000;
    width: 200px;
    height: 600px;
    margin-left: 10px;
    border:1px solid #ccc;
    border-bottom:2px solid #bbb;
    border-top:1px solid #ddd;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    color: limegreen;
    overflow-y: scroll;
}